{% extends 'base.html' %}

{% block content %}

<h1 class ="display-5">TABLE FOR EIGHTH FLOOR DESKTOP</h1>



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.lead2{
  margin-left: 46%;
  margin-top: 20px;
}
</style>



<table>
  <tr>
    <th>CPU SERIAL NUMBER</th>
    <th>MONITOR SERIAL NUMBER</th>
    <th>KEYBOARD SERIAL NUMBER</th>
    <th>DATE CREATED</th>
    <th>LOCATION</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  {% for x in eighth_floor_desktop %}
  <tr>
    <td>{{ x.cpu_serial_number }}</td>
    <td>{{ x.monitor_serial_number }}</td>
    <td>{{ x.keyboard_serial_number }}</td>
    <td>{{ x.date_created }}</td>
    <td>{{ x.floor_location }}</td>


    <td><a href="{% url 'eighthfloordesktopdetail' x.pk %}">details</a></td>
    <td><a href="{% url 'eighthfloordesktopedit' x.pk %}">edit</a></td>
    <td><a href="{% url 'eighthfloordesktopdelete' x.pk %}">delete</a></td>



  </tr>
  {% endfor %}


</table>

<div class="">

  <p class="lead lead2" >
     <a class="btn btn-primary btn-lg" href= "{% url 'eighthfloordesktopcreate' %}" role="button">ADD NEW</a>
   </p>

</div>

{% endblock content %}
